html {
    background:  whitesmoke;
}

body {
    font-family: 'Syne Mono', monospace;
    background-color: red;
    font-size: 16px;
    margin: 0 auto;
    color: black;
    text-align: center;
}

header, footer { 
    background:#0c0c0c;
    color: white;
    padding: 20px 10px;
    
    } 

     ul{
        margin: 0;
        padding: 0;
        
    }

    li{
        list-style: none;
        line-height: 30px;
        }
        
    a {
        text-decoration: none;
        color: inherit;
        }


    .character {
        box-sizing: border-box;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    img {
            max-width: 100%;
    }    

   

    .character img{
        max-width: 50%;
        float: left;
    }

    
@media (min-width: 1000px) {
            body {
                text-align: left;
            }
    
            header h1 {
              width: 70%;  
            }
    
          main {
            width: 68%;
            display: inline-block;
            padding: 10px;
            font-size: 12px;
         } 
    
         aside{
            width: 27%;
            display: inline-block ;
            vertical-align: top;
            padding: 10px;
         } 
         } 
    
    
@media( min-width: 1200px) {
            body {
                text-align: left;
            }

            header h1 {
            width: 70%;  
            }

        main {
            width: 68%;
            display: inline-block;
            padding: 10px;
            font-size: 12px;
        } 

        aside{
            width: 27%;
            display: inline-block ;
            vertical-align: top;
            padding: 10px;
        } 
        } 

    